@keyframes updateAnimation {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: 11px;
    width: 100%; }
  100% {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
@keyframes updateAnimationReverse {
  0% {
    opacity: .85;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  80% {
    opacity: .85;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: 11px;
    width: 100%; }
  100% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 9px, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 9px, 100% 100%, 0 100%);
    height: 11px;
    width: 100%; } }
.home-section {
  height: 100vh;
  background-image: url(../img/landing-bg.png);
  background-size: cover; }

.header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between; }
  @media all and (min-width: 1800px) {
    .header {
      padding-top: 40px; } }

.menu-list {
  list-style: none; }

.menu-element {
  display: inline-block;
  margin-left: 15px; }

.menu-link {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.06666em;
  transition: color .2s ease-in-out; }
  .menu-link:hover {
    color: #ed145b; }

.home-section-content {
  text-align: center;
  color: white;
  margin-top: 175px; }
  @media all and (min-width: 1800px) {
    .home-section-content {
      margin-top: 280px; } }

.home-section-header {
  font-size: 2.7em;
  font-weight: 300; }
  @media all and (min-width: 1800px) {
    .home-section-header {
      font-size: 3.06666em; } }
  .home-section-header:after {
    content: "";
    display: block;
    width: 170px;
    height: 2px;
    background-color: #ed145b;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px; }
    @media all and (min-width: 1800px) {
      .home-section-header:after {
        width: 200px; } }

.home-section-description {
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: 50px;
  line-height: 1.65em; }
  @media all and (min-width: 1800px) {
    .home-section-description {
      font-size: 1.46666em; } }

.about-section {
  background-color: #f4f4f4;
  padding-bottom: 60px; }
  @media all and (min-width: 1800px) {
    .about-section {
      padding-bottom: 110px; } }
  .about-section:before {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background-color: #ed145b;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 5%, 0 100%); }
    @media all and (min-width: 1800px) {
      .about-section:before {
        height: 35px; } }
  .about-section .section-header:after {
    margin: 25px 0; }

.about-section-content {
  margin-left: 15%;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  position: relative; }
  @media all and (min-width: 1800px) {
    .about-section-content {
      width: 80%;
      margin-left: 20%;
      margin-top: 80px; } }

.about-text {
  width: 35%; }
  @media all and (min-width: 1800px) {
    .about-text {
      width: 32%; } }

.about-link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ed145b;
  font-weight: 400;
  margin-top: 35px;
  font-size: 0.95em; }
  @media all and (min-width: 1800px) {
    .about-link {
      font-size: 1em; } }
  .about-link .fa-caret-right {
    font-size: 1.2em;
    margin-left: 10px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    transition: margin-left .2s ease-in;
    position: relative;
    top: 1px;
    border: 1px solid #ed145b;
    border-radius: 100%; }
    .about-link .fa-caret-right:before {
      position: relative;
      left: 1px; }
  .about-link:hover .fa-caret-right {
    margin-left: 20px; }

.about-image {
  width: 65%;
  position: absolute;
  top: -15px;
  right: 0; }
  @media all and (min-width: 1800px) {
    .about-image {
      width: 65%; } }
  @media all and (min-width: 1451px) and (max-width: 1799px) {
    .about-image {
      width: 50%;
      margin-right: 5%; } }

.about-macbook {
  width: 97%;
  margin-right: 3%; }

.services-section {
  text-align: center;
  padding-top: 70px; }
  @media all and (min-width: 1800px) {
    .services-section {
      padding-top: 100px; } }
  .services-section .section-description {
    width: 70%;
    margin: 0 auto; }
    @media all and (min-width: 1800px) {
      .services-section .section-description {
        width: 58%; } }

.services-container {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  margin-bottom: 100px; }

.service-icon {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #bfbfbf;
  border-radius: 100%; }

.service-name {
  color: #ed145b;
  text-transform: uppercase;
  margin-top: 30px; }

@font-face {
  font-family: DroidSerifBold;
  src: url(fonts/DroidSerif-Bold.ttf); }
.quotes-section {
  text-align: center;
  background-image: url(../img/landing-bg.png);
  background-size: cover; }
  .quotes-section:before, .quotes-section:after {
    color: #ed145b;
    font-family: DroidSerifBold;
    font-size: 8em;
    display: block;
    content: "\201D"; }
    @media all and (min-width: 1500px) and (max-width: 1800px) {
      .quotes-section:before, .quotes-section:after {
        font-size: 9.5em; } }
    @media all and (min-width: 1800px) {
      .quotes-section:before, .quotes-section:after {
        font-size: 10.53333em; } }
  .quotes-section:before {
    transform: rotate(180deg);
    padding-top: 70px; }
  .quotes-section:after {
    padding-top: 70px; }
  .quotes-section:hover .arrow {
    opacity: 1; }

.quotes-container {
  width: 45%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center; }
  @media all and (min-width: 1500px) and (max-width: 1800px) {
    .quotes-container {
      width: 50%; } }
  @media all and (min-width: 1800px) {
    .quotes-container {
      width: 60%; } }

.quote {
  color: white;
  font-weight: 300;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.7em;
  padding: 20px 0;
  opacity: 0;
  transform: translateX(-50px);
  position: absolute;
  transition: all .3s ease-out; }
  @media all and (min-width: 1500px) and (max-width: 1800px) {
    .quote {
      font-size: 1.4em;
      margin-left: 7.5%;
      width: 85%; } }
  @media all and (min-width: 1800px) {
    .quote {
      font-size: 1.66666em;
      margin-left: 12.5%;
      width: 75%; } }

.quote-invisible {
  left: -9999px; }

.quote-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity .5s ease-in; }

.arrow {
  position: absolute;
  font-size: 3em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  width: 35px;
  height: 35px;
  line-height: 35px;
  opacity: 0;
  transition: all .2s ease-in-out; }
  @media all and (min-width: 1500px) and (max-width: 1800px) {
    .arrow {
      font-size: 4em; } }
  @media all and (min-width: 1800px) {
    .arrow {
      font-size: 5em; } }
  .arrow:after {
    content: "";
    display: block;
    background-color: rgba(255, 255, 255, 0);
    width: 35px;
    height: 35px;
    position: absolute;
    top: 4px;
    left: 0;
    border-radius: 100%;
    transform: scale(0);
    transition: all .2s ease-in; }
    @media all and (min-width: 1500px) and (max-width: 1800px) {
      .arrow:after {
        width: 40px;
        height: 40px; } }
    @media all and (min-width: 1800px) {
      .arrow:after {
        width: 50px;
        height: 50px; } }
  .arrow:hover {
    color: white; }
    .arrow:hover:after {
      transform: scale(1);
      background-color: rgba(255, 255, 255, 0.15); }

.left-arrow {
  left: -35%; }
  @media all and (min-width: 1500px) and (max-width: 1800px) {
    .left-arrow {
      left: -25%; } }
  @media all and (min-width: 1800px) {
    .left-arrow {
      left: -5%; } }
  .left-arrow:after {
    left: 1px; }
    @media all and (min-width: 1500px) and (max-width: 1800px) {
      .left-arrow:after {
        left: -1px; } }
    @media all and (min-width: 1800px) {
      .left-arrow:after {
        top: 1px;
        left: -6px; } }

.right-arrow {
  right: -35%; }
  @media all and (min-width: 1500px) and (max-width: 1800px) {
    .right-arrow {
      right: -25%; } }
  @media all and (min-width: 1800px) {
    .right-arrow {
      right: -5%; } }
  .right-arrow:after {
    left: -1px; }
    @media all and (min-width: 1500px) and (max-width: 1800px) {
      .right-arrow:after {
        left: -3px; } }
    @media all and (min-width: 1800px) {
      .right-arrow:after {
        top: 1px;
        left: -8px; } }

.prices-section {
  text-align: center;
  background-color: #f4f4f4;
  padding-top: 70px; }
  @media all and (min-width: 1800px) {
    .prices-section {
      padding-top: 120px;
      padding-bottom: 60px; } }
  .prices-section .section-description {
    width: 70%;
    margin: 0 auto; }
    @media all and (min-width: 1800px) {
      .prices-section .section-description {
        width: 58%; } }

.card-container {
  padding: 70px 0;
  display: flex;
  justify-content: space-between; }

.card {
  text-align: center;
  font-family: Lato; }
  .card:hover .card-header {
    background-color: #ed145b; }
  .card .button {
    width: 140px;
    height: 35px;
    line-height: 35px;
    font-size: 0.95em; }
    @media all and (min-width: 1500px) and (max-width: 1800px) {
      .card .button {
        width: 180px;
        height: 40px;
        line-height: 40px; } }
    @media all and (min-width: 1800px) {
      .card .button {
        font-size: 1em;
        width: 200px;
        height: 50px;
        line-height: 50px; } }

.card-header {
  font-weight: bold;
  background-color: #5a5a5a;
  color: #f4f4f4;
  padding: 0 30px;
  padding-top: 15px;
  transition: background-color 0.2s ease-in-out; }
  .card-header .card-name {
    cursor: default;
    text-transform: uppercase;
    background-color: #f4f4f4;
    color: #5a5a5a;
    transform: translatey(50%); }

.dollar {
  font-size: 1em;
  position: relative;
  top: -2px; }
  @media all and (min-width: 1800px) {
    .dollar {
      font-size: 1.333333em; } }

.amount {
  font-size: 2.8em; }
  @media all and (min-width: 1800px) {
    .amount {
      font-size: 3.333333em; } }

.card-time {
  margin-bottom: 5px; }

.card-body {
  background-color: white;
  padding: 0 30px;
  padding-bottom: 40px;
  padding-top: 40px; }
  .card-body .button {
    color: #f4f4f4;
    background-color: #ed145b;
    margin-top: 30px; }

.card-feature {
  color: #5a5a5a;
  line-height: 2.5em;
  font-size: 0.95em; }
  @media all and (min-width: 1800px) {
    .card-feature {
      font-size: 1em; } }

.info-section {
  padding: 120px 0; }

.info-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 60px; }
  @media all and (min-width: 1800px) {
    .info-container {
      grid-row-gap: 80px; } }

.info {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 12px; }

.info-icon {
  grid-column: 1;
  grid-row: 1/3; }

.info-name {
  grid-column: 2;
  grid-row: 1;
  text-transform: uppercase;
  color: #ed145b;
  font-size: 0.95em; }
  @media all and (min-width: 1800px) {
    .info-name {
      font-size: 1em; } }

.info-description {
  grid-column: 2;
  grid-row: 2;
  color: #5a5a5a;
  font-weight: 300;
  line-height: 1.7em;
  font-size: 0.95em; }
  @media all and (min-width: 1800px) {
    .info-description {
      font-size: 1em;
      line-height: 2; } }

.contact-section {
  padding: 60px 0;
  background-color: #ed145b; }
  @media all and (min-width: 1800px) {
    .contact-section {
      padding: 70px 0; } }
  .contact-section .button {
    margin-left: 0;
    margin-right: 0;
    background-color: white;
    color: #ed145b; }
    @media all and (min-width: 1500px) and (max-width: 1800px) {
      .contact-section .button {
        width: 180px; } }

.contact-section-container {
  display: flex;
  justify-content: space-between;
  color: white; }

.contact-header {
  font-size: 1.9em;
  font-weight: 300;
  text-transform: uppercase; }
  @media all and (min-width: 1500px) and (max-width: 1800px) {
    .contact-header {
      font-size: 2.3em; } }
  @media all and (min-width: 1800px) {
    .contact-header {
      font-size: 2.5em; } }

.updates-section {
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center; }
  .updates-section .section-description {
    width: 70%;
    margin: 0 auto; }
    @media all and (min-width: 1800px) {
      .updates-section .section-description {
        width: 58%; } }

.updates-container {
  width: 100%;
  padding: 70px 0;
  text-align: left;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  justify-content: space-between; }

.update {
  background-color: #f4f4f4;
  max-width: 360px; }

.update-photo-wrapper {
  position: relative; }
  .update-photo-wrapper:hover {
    cursor: pointer; }
    .update-photo-wrapper:hover .update-search {
      opacity: 1;
      transition-delay: .2s; }
    .update-photo-wrapper:hover:after {
      opacity: .85;
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  .update-photo-wrapper:after {
    display: block;
    position: absolute;
    bottom: 0;
    content: "";
    height: 11px;
    width: 100%;
    background-color: #ed145b;
    opacity: 1;
    clip-path: polygon(0 0, 100% 9px, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 9px, 100% 100%, 0 100%);
    transition: all .2s ease-in; }

.update-search {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity .2s ease-in; }
  .update-search .fa-search {
    font-size: 2.5em; }

.update-photo {
  display: block;
  max-width: 100%;
  height: auto; }

.update-info {
  color: #5a5a5a;
  padding: 20px;
  font-size: 0.95em; }
  @media all and (min-width: 1800px) {
    .update-info {
      font-size: 1em; } }

.update-title {
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 17px; }

.update-description {
  font-weight: 300;
  line-height: 1.7em; }
  @media all and (min-width: 1800px) {
    .update-description {
      line-height: 2; } }

.updates-show-more {
  display: inline-block;
  text-transform: uppercase;
  color: #ed145b; }
  .updates-show-more .angle-down {
    font-size: 1.5em;
    font-weight: 700;
    transition: transform .2s ease-in; }
  .updates-show-more:hover {
    cursor: pointer; }
    .updates-show-more:hover .angle-down {
      transform: translateY(15px); }

.additional-info-section {
  background-image: url(../img/landing-bg.png);
  background-size: cover;
  text-align: center;
  padding: 100px 0; }
  @media all and (min-width: 1800px) {
    .additional-info-section {
      padding: 140px 0; } }
  .additional-info-section .section-header {
    color: white; }
  .additional-info-section .section-description {
    color: white;
    margin-bottom: 40px;
    line-height: 2; }

.additional-info-section-content {
  width: 45%;
  margin: 0 auto; }
  @media all and (min-width: 1800px) {
    .additional-info-section-content {
      width: 35%; } }

.download-section {
  padding: 50px 0;
  background-color: #f4f4f4; }
  @media all and (min-width: 1800px) {
    .download-section {
      padding: 70px 0; } }
  .download-section .container {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media all and (min-width: 1800px) {
      .download-section .container {
        width: 70%; } }
  .download-section .section-header:after {
    margin-left: 0; }
  .download-section .button {
    margin-top: 30px;
    margin-left: 0; }
    @media all and (min-width: 1800px) {
      .download-section .button {
        margin-top: 50px; } }

.download-image {
  width: 55%;
  display: inline-block; }
  @media all and (min-width: 1800px) {
    .download-image {
      width: 57%; } }

.download-screenshot {
  max-width: 100%;
  -webkit-box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.16); }

.download-text {
  width: 42%;
  display: inline-block; }
  @media all and (min-width: 1800px) {
    .download-text {
      width: 38%; } }

.footer-section {
  color: white;
  background-color: #2b2b2b;
  padding: 40px 0; }
  @media all and (min-width: 1800px) {
    .footer-section {
      padding: 65px 0; } }

.footer-copyright {
  display: inline-block; }

.footer-symu {
  display: inline-block;
  float: right;
  font-size: 1.06666em; }

.symu-logo {
  vertical-align: middle;
  margin-left: 2px;
  position: relative;
  top: -1px; }
  @media all and (min-width: 1800px) {
    .symu-logo {
      top: 0; } }

* {
  margin: 0;
  padding: 0; }

body {
  font-size: 15px;
  font-family: Lato; }

.button {
  text-align: center;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 40px;
  width: 160px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  color: #f4f4f4;
  background-color: #ed145b;
  margin: 0 auto; }
  @media all and (min-width: 1800px) {
    .button {
      width: 200px;
      height: 50px;
      line-height: 50px;
      border-radius: 25px; } }

.container {
  width: 70%;
  margin: 0 auto; }
  @media all and (min-width: 1800px) {
    .container {
      width: 60%; } }

.section-header {
  font-size: 2.3em;
  font-weight: 300;
  font-style: italic;
  color: #5a5a5a; }
  @media all and (min-width: 1800px) {
    .section-header {
      font-size: 2.53333em;
      line-height: 1.368; } }
  .section-header:after {
    content: "";
    display: block;
    width: 170px;
    height: 2px;
    background-color: #ed145b;
    margin: 25px auto; }
    @media all and (min-width: 1800px) {
      .section-header:after {
        width: 200px; } }

.section-description {
  font-weight: 300;
  color: #5a5a5a;
  line-height: 1.7em;
  font-size: 0.95em; }
  @media all and (min-width: 1800px) {
    .section-description {
      font-size: 1em;
      line-height: 2; } }

/*# sourceMappingURL=style.css.map */
