.about-section {
    background-color: $color-wild-sand;
    padding-bottom: 60px;
    
    @media all and (max-width: 600px) {
        padding-bottom: 30px;
    }

    @media all and (min-width: 1800px) {
        padding-bottom: 110px;
    }

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 20px;
        background-color: $color-razzmatazz;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 5%, 0 100%);

        @media all and (max-width: 900px) {
            height: 12px;
        }

        @media all and (min-width: 1800px) {
            height: 35px;
        }
    }

    .section-header:after {

        @media all and (min-width: 901px) {
            margin: 25px 0;
        }
    }
}

.about-section-content {
    margin-left: 15%;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    @media all and (max-width: 600px) {
        margin-top: 40px;
    }

    @media all and (max-width: 900px) {
        flex-direction: column;
        text-align: center;
        margin-right: 10%;
    }

    @media all and (max-width: 1200px) {
        margin-left: 10%;
    }

    @media all and (min-width: 1800px) {
        width: 80%;
        margin-left: 20%;
        margin-top: 80px;
    }
}

.about-text {
    width: 35%;

    @media all and (max-width: 900px) {
        width: 100%;
    }

    @media all and (min-width: 901px) and (max-width: 1050px) {
        width: 40%;
    }

    @media all and (min-width: 1800px) {
        width: 32%;
    }
}

.about-link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-razzmatazz;
    font-weight: 400;
    margin-top: 35px;
    font-size: 0.95em;

    @media all and (max-width: 900px) {
        margin-top: 15px;
    }

    @media all and (min-width: 1800px) {
        font-size: 1em;
    }

    .fa-caret-right {
        font-size: 1.2em;
        margin-left: 10px;
        width: 22px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        transition: transform .2s ease-in;
        position: relative;
        top: 1px;
        border: 1px solid $color-razzmatazz;
        border-radius: 100%;

        &:before {
            position: relative;
            left: 1px; //            top: 1px;
        }
    }

    &:hover .fa-caret-right {
        transform: translateX(20px);
//        left: 20px;
//        margin-left: 20px;
    }
}

.about-image {
    width: 65%;
    position: absolute;
    top: -15px;
    right: 0;

    @media all and (max-width: 900px) {
        width: 100%;
        margin-top: 25px;
    }

    @media all and (min-width: 901px) and (max-width: 1050px) {
        width: 58%;
    }

    @media all and (max-width: 1200px) {
        position: static;
    }

    @media all and (min-width: 1800px) {
        width: 65%;
    }

    @media all and (min-width: 1451px) and (max-width: 1799px) {
        width: 50%;
        margin-right: 5%;
    }
}

.about-macbook {
    width: 97%;
    margin-right: 3%;

    @media all and (max-width: 900px) {
        width: 100%;
        margin-right: 0;
    }
}
