.about-section {
    background-color: $color-wild-sand;
    padding-bottom: 40px;

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 20px;
        background-color: $color-razzmatazz;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 5%, 0 100%);
    }
    
    .section-header:after {
        margin: 25px 0;
    }
}

.about-section-content {
    margin-left: 15%;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.about-text {
    width: 35%;
}

.about-link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-razzmatazz;
    font-weight: 400;
    margin-top: 35px;
    font-size: 0.95em; // desktop: 1em
    
    &:after {
        content: "\2BC8";
        margin-left: 15px;
        transition: margin-left .2s ease-in;
    }

    &:hover:after {
        margin-left: 25px;
    }
}

.about-image {
    width: 65%;
}

.about-macbook {
    width: 90%;
    margin-left: 5%;
}
