.additional-info-section {
    background-image: url(../img/landing-bg.png);
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    
    @media all and (min-width: 1800px) {
        padding: 140px 0;
    }
    
    .section-header {
        color: white;
    }
    
    .section-description {
        color: white;
        margin-bottom: 40px;
        line-height: 2;
    }
}

.additional-info-section-content {
    width: 45%;
    margin: 0 auto;
    
    @media all and (max-width: 1200px) {
        width: 60%;
    }
    
    @media all and (min-width: 1800px) {
        width: 35%;
    }
}