//colors naming convention was inspired by:
//https://davidwalsh.name/sass-color-variables-dont-suck

$color-scorpion: #5a5a5a; // gray
$color-wild-sand: #f4f4f4; // almost white
$color-razzmatazz: #ed145b; // pink
$color-mine-shaft: #2b2b2b;

$card-horizontal-padding: 30px;