.download-section {
    padding: 50px 0;
    background-color: $color-wild-sand;

    @media all and (min-width: 1800px) {
        padding: 70px 0;
    }

    .container {
        width: 80%;
        margin-left: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media all and (min-width: 1800px) {
            width: 70%;
        }
    }

    .section-header {

        &:after {
            margin-left: 0;
        }
    }

    .button {
        margin-top: 30px;
        margin-left: 0;

        @media all and (min-width: 1800px) {
            margin-top: 50px;
        }
    }
}

.download-image {
    width: 55%;
    display: inline-block;

    @media all and (min-width: 1800px) {
        width: 57%;
    }
}

.download-screenshot {
    width: 100%;
    -webkit-box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 10px 17px 0px rgba(0, 0, 0, 0.16);
}

.download-text {
    width: 42%;
    display: inline-block;

    @media all and (min-width: 1800px) {
        width: 38%;
    }
}
