.footer-section {
    color: white;
    background-color: $color-mine-shaft;
    padding: 40px 0; // desktop: 65px
}

.footer-copyright {
    display: inline-block;
}

.footer-symu {
    display: inline-block;
    float: right;
    font-size: 1.06666em;
}

.symu-logo {
    vertical-align: middle;
    margin-left: 2px;
    position: relative;
    top: -1px;
}