.footer-section {
    color: white;
    background-color: $color-mine-shaft;
    padding: 40px 0;
    
    @media all and (max-width: 900px) {
        padding: 30px 0;
        font-size: 0.95em;
    }
    
    @media all and (min-width: 1800px) {
        padding: 65px 0;
    }
}

.footer-copyright {
    display: inline-block;
}

.footer-symu {
    display: inline-block;
    float: right;
}

.symu-logo {
    vertical-align: middle;
    margin-left: 2px;
    position: relative;
    top: -1px;
    
    @media all and (min-width: 1800px) {
        top: 0;
    }
}
