.home-section {
    height: 100vh;
    background-image: url(../img/landing-bg.png);
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;

    &.container {
        @media all and (max-width: 750px) {
            width: 85%;
        }
    }

    @media all and (min-width: 1800px) {
        top: 40px;
    }
}

.menu-list {
    list-style: none;
}

.menu-element {
    display: inline-block;
    margin-left: 15px;

    @media all and (max-width: 750px) {
        margin-left: 10px;
    }
}

.menu-link {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.06666em;
    transition: color .2s ease-in-out;

    @media all and (max-width: 900px) {
        font-size: 1em;
    }

    &:hover {
        color: $color-razzmatazz;
    }
}

.home-section-content {
    text-align: center;
    color: white;
    width: 80%;
    margin-left: 10%;
}

.home-section-header {
    font-size: 2.7em;
    font-weight: 300;

    @media all and (max-width: 900px) {
        font-size: 2.3em;
    }

    @media all and (min-width: 1800px) {
        font-size: 3.06666em;
    }

    &:after {
        content: "";
        display: block;
        width: 170px;
        height: 2px;
        background-color: $color-razzmatazz;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;

        @media all and (min-width: 1800px) {
            width: 200px;
        }
    }
}

.home-section-description {
    font-weight: 300;
    font-size: 1.2em;
    margin-bottom: 50px;
    line-height: 1.65em;

    @media all and (max-width: 900px) {
        font-size: 1.1em;
    }

    @media all and (min-width: 1800px) {
        font-size: 1.46666em;
    }
}
