.home-section {
    height: 100vh;
    background-image: url(../img/landing-bg.png);
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 30px;
    box-sizing: border-box;
    transition: all .3s ease-in;

    &.container {

        @media all and (min-width: 601px) and (max-width: 750px) {
            width: 85%;
        }
    }

    &.fixed {
        width: 100%;
        padding: 20px 10%;
        background-color: black;
        position: fixed;
        z-index: 1;
        transition: all .3s ease-in;
        border-bottom: $color-razzmatazz 2px solid;
        @media all and (max-width: 600px) {
            padding: 10px 10%;
        }
    }

    @media all and (min-width: 1800px) {
        padding-top: 40px;
    }
}

.menu-container {
    @media all and (max-width: 600px) {
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        transition: all .3s ease-in;
    }
    &.visible {
        transform: translateX(0);
        z-index: 1;
        transition: all .3s ease-in;
    }
}

.menu-list {
    list-style: none;
    @media all and (max-width: 600px) {
        height: 80%;
        margin: 0 auto;
        margin-top: 10%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }
}

.menu-element {
    display: inline-block;
    margin-left: 15px;

    @media all and (max-width: 600px) {
        flex-grow: 1;
        margin-left: 0;
        text-align: center;
        display: flex;
        align-items: center;
        align-content: stretch;
        border-bottom: $color-razzmatazz 2px solid;

        &:last-child {
            border-bottom: none;
        }
    }

    @media all and (min-width: 601px) and (max-width: 750px) {
        margin-left: 10px;
    }
}

.menu-link {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.06666em;
    transition: color .2s ease-in-out;

    @media all and (max-width: 600px) {
        display: block;
        font-size: 1.5em;
        width: 100%;
        height: 100%;
    }

    @media all and (min-width: 601px) and (max-width: 900px) {
        font-size: 1em;
    }

    &:hover {
        color: $color-razzmatazz;
    }
}

.menu-show {
    color: white;
    text-decoration: none;
    font-size: 2em;
    cursor: pointer;
    @media all and (min-width: 601px) {
        display: none;
    }
}

.menu-close {
    cursor: pointer;
    font-size: 3em;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 20px;

    @media all and (min-width: 601px) {
        display: none;
    }
}

.home-section-content {
    text-align: center;
    color: white;
    width: 80%;
    margin-left: 10%;
}

.home-section-header {
    font-size: 2.7em;
    font-weight: 300;

    @media all and (max-width: 600px) {
        font-size: 2em;
    }

    @media all and (min-width: 601px) and (max-width: 900px) {
        font-size: 2.3em;
    }

    @media all and (min-width: 1800px) {
        font-size: 3.06666em;
    }

    &:after {
        content: "";
        display: block;
        width: 170px;
        height: 2px;
        background-color: $color-razzmatazz;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;

        @media all and (max-height: 500px) {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        @media all and (max-width: 600px) {
            width: 140px;
        }

        @media all and (min-width: 1800px) {
            width: 200px;
        }
    }
}

.home-section-description {
    font-weight: 300;
    font-size: 1.2em;
    margin-bottom: 50px;
    line-height: 1.65em;

    @media all and (max-height: 500px) {
        margin-bottom: 20px;
    }

    @media all and (min-width: 601px) and (max-width: 900px) {
        font-size: 1.1em;
    }

    @media all and (min-width: 1800px) {
        font-size: 1.46666em;
    }
}
