.prices-section {
    text-align: center;
    background-color: $color-wild-sand;
    padding-top: 70px;

    .section-description {
        width: 70%;
        margin-left: 15%;
    }
}

.card-container {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}

.card {
    text-align: center;
    font-family: Lato;

    &:hover .card-header {
        background-color: $color-razzmatazz;
    }
    
    .button {
        width: 140px;
        height: 35px;
        line-height: 35px;
        font-size: 0.95em;
    }
}

.card-header {
    font-weight: bold;
    background-color: $color-scorpion;
    color: $color-wild-sand;
    padding: 0 $card-horizontal-padding; // padding: 0 30px;
    padding-top: 15px;
    transition: background-color 0.2s ease-in-out;

    .card-name {
        cursor: default;
        text-transform: uppercase;
        background-color: $color-wild-sand;
        color: $color-scorpion;
        transform: translatey(50%);
    }
}

.dollar {
    font-size: 1em; // desktop: 1.333333em
    position: relative;
    top: -2px;
}

.amount {
    font-size: 2.8em; // desktop: 3.333333em
}

.card-time {
    margin-bottom: 5px;
}

.card-body {
    background-color: white;
    padding: 0 $card-horizontal-padding;
    padding-bottom: 40px;
    padding-top: 40px;

    .button {
        color: $color-wild-sand;
        background-color: $color-razzmatazz;
        margin-top: 30px;
    }
}

.card-feature {
    color: $color-scorpion;
    line-height: 2.5em;
    font-size: 0.95em; // desktop: 1em
}
