.updates-section {
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: center;

    .section-description {
        width: 70%;
        margin: 0 auto;

        @media all and (min-width: 1800px) {
            width: 58%;
        }
    }
}

.updates-container {
    width: 100%;
    padding: 70px 0;
    text-align: left;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    justify-content: space-between;

    @media all and (max-width: 1200px) {
        grid-row-gap: 20px;
        padding: 30px 0;
    }
}

.update {
    background-color: $color-wild-sand;
    max-width: 360px; // image original width
}

.update-photo-wrapper {
    position: relative;

    &:hover {
        cursor: pointer;

        .update-search {
            opacity: 1;
            transition-delay: .2s;
        }

        &:after {
            opacity: .85;
            height: 100%;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }

    &:after {
        display: block;
        position: absolute;
        bottom: 0;
        content: "";
        height: 11px;
        width: 100%;
        background-color: $color-razzmatazz;
        opacity: 1;
        clip-path: polygon(0 0, 100% 9px, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 9px, 100% 100%, 0 100%);
        transition: all .2s ease-in;
    }
}

.update-search {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: opacity .2s ease-in;

    .fa-search {
        font-size: 2.5em;
    }
}

.update-photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.update-info {
    color: $color-scorpion;
    padding: 20px;
    font-size: 0.95em;

    @media all and (min-width: 1800px) {
        font-size: 1em;
    }
}

.update-title {
    text-transform: uppercase;
    margin-top: 2px;
    margin-bottom: 17px;
}

.update-description {
    font-weight: 300;
    line-height: 1.7em;

    @media all and (min-width: 1800px) {
        line-height: 2;
    }
}

.updates-show-more {
    display: inline-block;
    text-transform: uppercase;
    color: $color-razzmatazz;

    .angle-down {
        font-size: 1.5em;
        font-weight: 700;
        transition: transform .2s ease-in;
    }

    &:hover {
        cursor: pointer;

        .angle-down {
            transform: translateY(15px);
        }
    }
}
