@import 'config';
@import 'keyframes';
@import 'home-section';
@import 'about-section';
@import 'services-section';
@import 'quotes-section';
@import 'prices-section';
@import 'info-section';
@import 'contact-section';
@import 'updates-section';
@import 'additional-info-section';
@import 'download-section';
@import 'footer-section';

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    font-family: Lato;
}

.button {
    text-align: center;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 40px;
    width: 160px; // desktop: 200px
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    color: $color-wild-sand;
    background-color: $color-razzmatazz;
    margin: 0 auto;
    
    @media all and (min-width: 1800px) {
        width: 200px;
        height: 50px;
        line-height: 50px;
        border-radius: 25px;
    }
}

// element used to apply width and margin to sections' content
.container {
    width: 70%;
    margin: 0 auto;
    
    @media all and (min-width: 1800px) {
        width: 60%;
    }
}

.section-header {
    font-size: 2.3em; // desktop: 2.53333em
    font-weight: 300;
    font-style: italic;
    color: $color-scorpion;
    
    @media all and (min-width: 1800px) {
        font-size: 2.53333em;
    }

    &:after {
        content: "";
        display: block;
        width: 170px;
        height: 2px;
        background-color: $color-razzmatazz;
        margin: 25px auto;
        
        @media all and (min-width: 1800px) {
            width: 200px;
        }
    }
}

.section-description {
    font-weight: 300;
    color: $color-scorpion;
    line-height: 1.7em;
    font-size: 0.95em; // desktop: 1em
    
    @media all and (min-width: 1800px) {
        font-size: 1em;
        line-height: 2;
    }
}
